@import url('common.less');

.blogs_admin{
	.head{
		span{
			display: inline-block;
			width: 100%;	
			font-size: 18px;
			font-weight: 300;
			color: #b22c3c;
			padding: 20px 0;
			border-bottom: 1px solid @border;
		}
	}
	.info{
		margin-bottom: 20px;
		text-align: center;
		p{
			display: inline-block;
			width: 100%;	
			font-size: 22px;
			font-weight: 300;
			color: @FontColorP;
			margin-bottom: 10px;
		}
		span{
			display: inline-block;
			width: 100%;	
			font-weight: 400;
			color: @FontColorP;
		}
	}
}

.pg_heading{
	&.blogs{
		background: url(../images/blog_bg.jpg) no-repeat;
		background-position: center center;
		background-size: cover;
	}
}
.blogs_lp{
	padding: 20px 0;
	ul{
		display: flex;
		justify-content: space-around;
		margin: 0;
		padding: 0;
		flex-wrap: wrap;
		li{
			list-style: none;
			width: 33.33%;
			padding: 10px;
			position: relative;
			.transition();
			top: 0;
			&:hover{
				top: -10px;
			}
			a{
				display: inline-block;
				width: 100%;
				background: @white;
				.border-radius(3px);
				text-decoration: none;
				overflow: hidden;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				div.item_image{
					height: 40vh;
				    min-height: 300px;
				    max-height: 500px;
				}
				.info{
					padding: 15px;
				}
				p{
					font-size: 18px;
					color: @FontColorP;
					margin: 0 0 10px 0;
					font-weight: 500;
				}
				span{
					display: block;
					color: @FontColorS;
					margin-bottom: 5px;
					font-size: 13px;
				}
				i{
					display: block;
					font-style: normal;
					font-size: 12px;
					color: @FontColorS;
					strong{
						color: @buttonBG;
					}
				}
				.btn{
					display: inline-block;
					color: @white;
					margin-top: 15px;
				}
			}
		}
	}
}
.blogs_detail{
	padding: 20px 0;
	.item_detail {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    span {
		    position: relative;
		    min-height: 400px;
		    -webkit-box-flex: 1;
		    -ms-flex: 1 0 40%;
		    flex: 1 0 40%;
		    .border-radius(5px);
		    overflow: hidden;
		    img{
		    	position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
		    }
		}
		h1 {
		    font-size: 44px;
		    font-weight: 400;
		    max-width: 100%;
		    padding-left: 60px;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
		    -webkit-box-flex: 1;
		    -ms-flex: 1 0 60%;
		    flex: 1 0 60%;
		    i{
		    	display: block;
		    	font-size: 16px;
		    	color: @FontColorS;
		    	font-style: normal;
		    	strong{
		    		color: @buttonBG;
		    	}
		    }
		}
	}
	.item_content{
		max-width: 840px;
		margin: 30px auto;
		overflow: hidden;
		p{
			margin: 20px 0;
			font-weight: 400;
		}
	}
}