@import url('common.less');

.banner{
	overflow: hidden;
	position: relative;
	&:before{
		content: '';
	    position: absolute;
	    bottom: -9%;
	    right: 0;
	    left: 0;
	    background-color: #f1f1f1;
	    -webkit-transform: skewY(-6deg);
	    transform: skewY(-6deg);
	    z-index: 1;
	    display: block;
	    height: 180px;
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			position: relative;
			.banner_head{
				position: absolute;
				width: 1136px;
				right: 0;
				left: 0;
				top: 180px;
				margin: auto;
				span.head{
					display: block;
					font-family: 'Lobster';
					font-size: 62px;
					width: 550px;
					color: @white;
					margin-bottom: 40px;
				}
				a{
					display: inline-block;
					padding: 0 20px;
					height: 50px;
					line-height: 50px;
					color: @white;
					background: @buttonBG;
					.border-radius(50px);
					text-decoration: none;
					font-family: 'Lobster';
					font-size: 18px;
					i{
						margin: 0 10px;
					}
				}
			}
		}
	}
}

.blogs{
	padding: 20px 0 87px 0;
	position: relative;
	z-index: 2;
	ul{
		margin: 0;
		padding: 0 0 0 275px;
		position: relative;
		&:before {
		    content: 'Blogs';
		    position: absolute;
		    top: 40%;
		    left: 0;
		    font-size: 78px;
		    color: #212121;
		    font-family: Lobster;
		}
		li{
			display: inline-block;
			list-style: none;
			width: 265px;
			background: @white;
			.border-radius(4px);
			.box-shadow(0px 2px 15.36px 0.64px rgba(0, 0, 0, 0.07));
			padding: 10px;
			margin-right: 10px;
			vertical-align: top;
			&:last-child{
				margin-right: 0;
			}
			img{
				max-width: 100%;
			}
			p{
				display: inline-block;
				font-family: 'Lobster';
				font-size: 16px;
				font-weight: bold;
				color: @FontColorP;
				margin: 5px 0;
			}
			span{
				color: @FontColorS;
				strong{
					font-weight: 700;
					color: @buttonBG;
				}
			}
			&:first-child{
				margin-top: 70px;
			}
			&:nth-child(3) {
			    margin-top: -100px;
			}
			&:last-child{
				position: absolute;
			    bottom: -160px;
			    right: 10px;
			}
		}
	}
}

.search_profile{
	display: inline-block;
	width: 100%;
	padding-bottom: 50px;
	background: url('../images/bg-1.jpg') no-repeat;
	background-attachment: fixed;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(255, 78, 86, 0.8);
	}
	&:after {
	    content: '';
	    position: absolute;
	    top: -19%;
	    right: 0;
	    left: 0;
	    background-color: #f1f1f1;
	    -webkit-transform: skewY(6deg);
	    transform: skewY(6deg);
	    z-index: 1;
	    display: block;
	    height: 180px;
	}
	.heading{
		margin-top: 140px;
	    margin-bottom: 50px;
	}
	.form_section_srch{
		display: flex;
		justify-content: space-between;
		width: 1024px;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 15px;
		.border-radius(4px);
		position: relative;
		.form_group{
			display: inline-block;
			margin-right: 15px;
			p{
				font-size: 14px;
				color: @white;
				display: block;
				margin-top: 0;
				margin-bottom: 10px;
			}
			select{
				display: inline-block;
				width: 205px;
				height: 40px;
				background-color: @white;
				padding: 0 10px;
				font-size: 14px;
				color: @FontColorS;
				.border-radius(4px);
			}
			span{
				color: @white;
				margin: 0 10px;
			}
			&.age{
				select{
					width: 80px;
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}
	}
}

.recommended_Profile{
	padding: 90px 0 40px 0;
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			list-style: none;
			width: 265px;
			background: @white;
			.border-radius(4px);
			.box-shadow(0px 2px 15.36px 0.64px rgba(0, 0, 0, 0.07));
			padding: 10px;
			margin-right: 10px;
			vertical-align: top;
			&:last-child{
				margin-right: 0;
			}
			img{
				max-width: 100%;
			}
			p{
				display: block;
				font-size: 16px;
				font-weight: bold;
				color: @FontColorP;
				margin: 5px 0 0 0;
			}
			span{
				color: @FontColorS;
			}
		}
		.slick-arrow {
		    width: 40px;
		    height: 40px;
		    border: none;
		    background: @BrandColor;
		    position: absolute;
		    top: -50px;
		    right: 0px;
		    text-indent: -10000px;
		    overflow: hidden;
		    text-align: center;
		    line-height: 40px;
		    .border-radius(4px);
		    &:after{
		    	content: '';
		    	position: absolute;
		    	top: 0;
		    	bottom: 0;
		    	left: -3px;
		    	right: 0;
		    	margin: auto;
		    	width: 10px;
		    	height: 10px;
		    	border-right: 3px solid @white;
		    	border-top: 3px solid @white;
		    	.rotate(45deg);
		    	.border-radius(3px);
		    }
		    &.slick-prev{
		    	right: 50px;
		    	&:after{
		    		.rotate(-135deg);
		    		left: 3px;
		    	}
		    }
		}
		.slick-list{
			padding: 0 0 11px 0;
		}
	}
}

.find_prtnr{
	padding: 30px 0;
	margin-top: 60px;
	background-color: #0b3357;
	overflow: hidden;
	ul{
		margin: 40px 0 0 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		li{
			list-style: none;
			width: 100%;
			margin: 0 10px;
			text-align: center;
			img{
				max-width: 100%;
			}
			span{
				display: block;
				margin-top: 10px;
				font-weight: 500;
				color: @white;
				text-align: center;
			}
			&.lft_ani{
				position: relative;
				left: -100px;
				.transition(all .6s ease-in-out);
				opacity: 0;
			}
			&.rgt_ani{
				position: relative;
				right: -100px;
				.transition(all .6s ease-in-out);
				opacity: 0;
			}
		}
	}
	&.visible{
		ul{
			li{
				&.lft_ani{
					opacity: 1;
					left: 0;
				}
				&.rgt_ani{
					opacity: 1;
					right: 0;
				}
			}
		}
	}
}